<div style="background: #e8e8e8; height: calc(100% - 50px)">
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
        <mat-card style="width: 100%; height: calc(100vh - 50px)">
            <mat-card-header class="flex justify-content-center p-3" style="background-color: #071013">
                <mat-card-title class="flex justify-content-center text-white">Arquivos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="shadow-4 mx-auto mt-4 flex flex-column align-items-center" style="width: 80vw">
                    <p class="text-xl font-bold py-4" style="color: #596F62">Selecione o arquivo para upload</p>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayoutAlign="center center" style=" padding-right: 5px">
                            <label for="arquivo" class="label-upload">Escolher Arquivo</label>
                            <input class="input-upload" id="arquivo" type="file" style="padding: 10px" (change)="onChange($event)">
                        </div>
                        <div>
                            <button mat-raised-button color="primary" (click)="onUpload()">Upload</button>
                        </div>
                    </div>
                    <div class="block w-full">
                        <div style="width: 400px; height: auto; margin: 0 auto">
                            <img src="./assets/Image%20upload-rafiki.svg" alt="upload">
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>