<div style="background: #e8e8e8; height: calc(100% - 50px)">
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
        <mat-card style="width: 100%; height: calc(100vh - 50px)">
            <mat-card-content *ngIf="!listResult">
                <div class="shadow-4 mx-auto mt-4 flex flex-column align-items-center" style="width: 80vw">
                    <p class="text-xl font-bold py-4" style="color: #596F62">Selecione o arquivo para upload</p>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayoutAlign="center center" style=" padding-right: 5px">
                            <label for="arquivo" class="label-upload">Escolher Arquivo</label>
                            <input class="input-upload" id="arquivo" type="file" style="padding: 10px" (change)="onUpload($event)">
                        </div>
                    </div>
                    <div class="block w-full">
                        <div style="width: 400px; height: auto; margin: 0 auto">
                            <img src="./assets/Image%20upload-rafiki.svg" alt="upload">
                        </div>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-content *ngIf="listResult">
                <mat-divider></mat-divider>
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="Gráficos">
                        <div class="flex justify-content-between p-3">
                            <div style="flex: 50">
                                <mat-card style="width: 100%; height: 50%">
                                    <mat-card-subtitle>Quantidade de Ordens Priorizadas</mat-card-subtitle>
                                    <mat-card-content>{{qtdePriorizada}}</mat-card-content>
                                </mat-card>
                                <mat-card style="width: 100%; height: 50%">
                                    <mat-card-subtitle>Valor Total Priorizadas</mat-card-subtitle>
                                    <mat-card-content>{{valorPriorizado | currency}}</mat-card-content>
                                </mat-card>
                            </div>
                            <mat-card style="flex: 50">
                                <mat-card-subtitle>Nº de Ordens por Equipamento</mat-card-subtitle>
                                <mat-card-content>
                                    <canvas id="chartEquipamento"></canvas>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="flex justify-content-center p-3">
                            <mat-card style="flex: 50">
                                <mat-card-subtitle>Nº de Ordens por Criticidade</mat-card-subtitle>
                                <mat-card-content>
                                    <canvas id="chartCriticidade"></canvas>
                                </mat-card-content>
                            </mat-card>
                            <mat-card style="flex: 50">
                                <mat-card-subtitle>Nº de Ordens por Atividade</mat-card-subtitle>
                                <mat-card-content>
                                    <canvas id="chartAtividade"></canvas>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-tab>

                    <mat-tab label="Resultados">
                        <section class="example-container mat-elevation-z8" tabindex="0">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 80%">
                                <ng-container matColumnDef="result-ordem">
                                    <th mat-header-cell *matHeaderCellDef> Ordem </th>
                                    <td mat-cell *matCellDef="let result"> {{result.ordem}} </td>
                                </ng-container>

                                <ng-container matColumnDef="result-data">
                                    <th mat-header-cell *matHeaderCellDef> Data </th>
                                    <td mat-cell *matCellDef="let result"> {{result.data}} </td>
                                </ng-container>

                                <ng-container matColumnDef="result-equipamento">
                                    <th mat-header-cell *matHeaderCellDef> Equipamento </th>
                                    <td mat-cell *matCellDef="let result"> {{result.equipamento}} </td>
                                </ng-container>

                                <ng-container matColumnDef="result-tam">
                                    <th mat-header-cell *matHeaderCellDef> Tam </th>
                                    <td mat-cell *matCellDef="let result"> {{result.tam}} </td>
                                </ng-container>

                                <ng-container matColumnDef="result-pom">
                                    <th mat-header-cell *matHeaderCellDef> Pontos </th>
                                    <td mat-cell *matCellDef="let result"> {{result.pom}} </td>
                                </ng-container>

                                <ng-container matColumnDef="result-valor">
                                    <th mat-header-cell *matHeaderCellDef> Valor </th>
                                    <td mat-cell *matCellDef="let result"> {{result.valor | currency}} </td>
                                </ng-container>

                                <ng-container matColumnDef="result-priorizado">
                                    <th mat-header-cell *matHeaderCellDef> Priorizado </th>
                                    <td mat-cell *matCellDef="let result"> {{result.priorizado === 'Priorizado'? 'Sim' : 'Não'}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </section>

                        <mat-paginator [length]="listSize"
                                       [pageSize]="10"
                                       [pageSizeOptions]="[5, 10, 25, 100]"
                                       aria-label="Select page">
                        </mat-paginator>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>

        </mat-card>
    </div>
</div>